*,
*::before,
*::after {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.content {
    background-color: white;
    display: flex;
    /* align-content: center; */
    min-height: 100vh;
    min-width: 100vw;
}

/* LEFT */

.left-container {
    width: 50%;
    background-image: url(./src/L1008473.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30vh;
}

.logo {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 70%;
    height: 20vh;
}
 
.logo-img {
    height: 20vh;
}

.logo-text {
    font-size: 2em;
}
/* RIGHT */

.right-container {
    width: 60%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: whitesmoke;

}

.statement-text {
    background-color: whitesmoke;
    /* width: 90%; */
    margin: 1vh;
    padding: 5vh 2vh 2vh 2vh;
}

.forms{
    background-color: white;
    padding: 3vh;
    height: auto;
    width: fill;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}
.input{
    width: 40%;
    font-size: .5rem;
    opacity: 70%;
}
.btn{
    padding: 2vh;
}
button {
    width: 20vw;
    border: none;
    background-color: #F77178;
    color: #fff;
    padding: 1vw;
    font-size: medium;
    border-radius: 5%;
}
button:hover{
    opacity: 0.7;
}
 
.footer {
    padding: 1vh;
}

a{
    font-weight: bold;
    color: #F77178;
}