body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e7eb;
}

.header,
.one,
.two,
.three,
.four,
.footer
{
    
}


/*header*/
.header-container {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 0px;
}
/*Header Styles*/

.logo {
    font-weight: extra-bold;
    font-size: 24px;
    padding: 3px;
}
.hdr-link {
    all: unset;
    text-decoration: none;
    border: 2px solid #e5e7eb;
    padding: 3px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #e5e7eb4f ;
}

/*Hero container*/
.one-container {
    background-color: #1f2937;
    margin-top: -20px;
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}

/*hero Styles*/

.hero-rt {
    width: 300px;
    padding: auto;
    margin-right: 20px;
}
.hero-ttl {
    font-size: 40px;
    margin-bottom: -10px;
}
.hero-btn {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #3882f6;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    font-weight: bold;
}
.hero-img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    padding: auto;
}

/*some random information slidev*/

.two-header{
    display: flex;
    justify-content: center;
}
.two-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-img-1,
.info-img-2,
.info-img-3,
.info-img-4{
    height: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border: 2px solid #3882f6;
    border-radius: 20px;
}

.info-img-3,
.info-img-4 {
    object-position: 100% 100%;
}

.info-bit-1,
.info-bit-2,
.info-bit-3,
.info-bit-4 {
    width: 200px; 

}

.three-container {
    background-color: #bababa;
    display: flex;
    justify-content: center;
    padding: 20px;
   
}
.qoute {
    font-style:  light italic;
}
.qoute-spkr{
    align-: flex-start;
}

.four{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.four-container {
    background-color: #3882f6;
    color:#e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
}

.call2act {
    margin-right: 25px;
}
.c2a-ttl {
    font-size: 24px;
    margin-bottom: 0%;
}
.c2a-txt {
    margin-top: 0%;
}

.four-button {
margin-left: 10px;
display: flex;
justify-content: center;
}

.c2a-btn {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.footer-container {
    background-color:#1f2937;
    height: 40px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.footer-chld {
    align-self: center;
}