*, *::before, *::after {
  box-sizing: border-box;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    background-color: #441151;
    margin: 0;
    padding: 0;
}

.calculator-body{
   display: grid;
   justify-content: center;
   align-content: center;
   min-height: 100vh;
   grid-template-columns: repeat(4, 100px);
   grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background-color: #883677;
    border-radius: 10px;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.017),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.024),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.03),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.036),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.043),
  100px 100px 80px rgba(0, 0, 0, 0.06)
;
}
.calculator-body > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px, solid #FFFFFF;
  outline: none;
  background-color: rbga(255, 255, 255, 0.75);
}

  .calculator-body > button:hover {
    background-color: #a9a9a9;
  }

  .span-two{
    grid-column: span 2;
  }
.output {
  grid-column: 1/ -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand{
  color: rgba(255,255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand{
  color: white;
  font-size: 2.5rem;
}

button{
  background-image: linear-gradient(#CA61C3, #EE85B5);
  border: 1px solid #883677;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

